#menu {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 90px;
    list-style: none;  	
    background-color: #111;
    background-image: linear-gradient(#70DD3A, #509322);
    border-radius: 0px;
    box-shadow: 0 2px 1px #9c9c9c;
}

#menu li {
    float: left;
    padding: 0 0 20px 0;
    position: relative;
}

#menu a {
  float: left;
  height: 25px;
  padding: 0 25px;
  color: #EBEFEC;
  text-transform: uppercase;
  font: bold 12px/25px Verdana, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #1B1A1A;
}
#1B1A1A
#menu a:botaoentrar {
    float: right;
    height: 10x;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #999;
}

#menu li:hover > a {
	background-color: #509322;   
    background-image: linear-gradient(#509322, #509322);
	-moz-border-radius: 5px;
    border-radius: 5px;
    color: #fafafa;
}

#menu li a:hover { /* IE6 */
    color: #ffffc4;
}

#menu li:hover > ul {
    display: block;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background-color: #444;   
    background-image: linear-gradient(#509322, #509322);    
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    box-shadow: 0 1px 0 #575757, 
                0 2px 0 #509322;
}

#menu ul li:last-child { 
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a { /* IE6 */   
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a { /* IE7 */    
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background-color: #3AA63F;
    background-image: linear-gradient(#509322, #3AA63F);
}

#menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #509322;
}

#menu ul li:first-child a:hover:after {
	
    border-bottom-color: #509322; 
    
}

#menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

kground: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}

.btn-primary {
  color: #fff;
  background-color: #52C246;
  border-color: #171717;
  
}

.botaoentrar{
background-color: #52C246;
  border-color: #ffffff;
	float: right !important; 
  margin-right: -210% !important;
}

.botaoentrar{
	background-color: #52C246 !important;
    background-image: linear-gradient(#52C246, #52C246) !important;
}


.botaosair{
background-color: #ff0000;
  border-color: #171717;
	float: right !important; 
  margin-right: -530% !important;
}

.botaosair:hover{
	background-color: #ff0000 !important;
    background-image: linear-gradient(#ff0000, #ff0000) !important;
} 

body{
	color: #333;
	background-image: url("#{resource['/images/fundoverde.jpg']}");
	background-repeat: inherit;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.page-header{
	color: #EFEFEF;
	}


<!-- rodape{
	background-image: url("#{resource['/images/rodape.png']}");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
} -->

.row {
  margin-right: -15px;
  margin-left: -15px;
  background: rgba(255, 255, 255, 0.82);
  border-radius: 10px;
}

.rodaperow {
  background: rgba(102, 176, 44, 0.82);
  background-attachment: fixed;
}

